/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 기본 설정들 */

img,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  font-style: normal;
  vertical-align: baseline;
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 / */
  -ms-text-size-adjust: none; /* / IE / */
  -moz-text-size-adjust: none; /* / 파이어폭스 / */
  -o-text-size-adjust: none; /* / 오페라 구버전 / */
}

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html * {
  word-break: keep-all;
}
html,
body {  
  height: 100%;  
}
body {  
  line-height: 1;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  display: block; /* 인라인 요소의 하단 여백 제거 */
}
input,
textarea,
button,
select {
  padding: 0;
  margin: 0;
  appearance: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: 0;
}
button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}
label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
input {
  /*ios대응*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

select {
  /*ios대응*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  
}
select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}
