.reverse_y_text {
    transform: rotateY(180deg);
}
/* main_1 */
.main_1 .w1600{
    position: relative;
}
.main_1 .main_1_visual{    
    height: 100dvh;
}
.main_1 .main_1_visual .txt_container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.main_1 .main_1_visual .txt_wrap{
    display: flex;
    max-width: calc(50% - 137.5px);
}
.main_1 .main_1_visual .txt_wrap li{
    color: #D0D0D0;    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: 2.52px;
    margin: 6px 0;
    display: flex;
    align-items: center;
    font-family: 'Archivo Condensed';
}
.main_1 .main_1_visual .lt_txt_wrap ul{
    padding-right: 20px;
}
.main_1 .main_1_visual .rt_txt_wrap ul{
    padding-left: 20px;
}
.main_1 .main_1_visual .lt_txt_wrap li{
    padding-right: 30px;    
}
.main_1 .main_1_visual .rt_txt_wrap li{
    padding-left: 30px;
    
}
.main_1 .main_1_visual .center_icon_wrap{
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    z-index: 15;        
    padding: 8px 10px;
    width: 275px;
    height: 100px;    
    background-color: #000;
    display: flex;   
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.45s cubic-bezier(0.34, 1.2, 0.64, 1.1);
}

.main_1 .main_1_visual .center_icon_wrap .symbol_wrap{
    width: 85px;
    transform: translateX(-70px);
    transition: 0.45s cubic-bezier(0.34, 1.2, 0.64, 1.1);    
}
.main_1 .main_1_visual .center_icon_wrap .symbol_wrap svg{
    width: 100%;
    height: auto;
}
.main_1 .main_1_visual .center_icon_wrap .symbol_wrap path{
    fill: white;
}
.main_1 .main_1_visual .center_icon_wrap .plus_btn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 37.5px;

}
.main_1 .main_1_visual .center_icon_wrap .plus_btn .line{
    display: block;
    width: 100%;
    height: 1.33px;
    background-color: #D9D9D9;
    position: absolute;
    top: calc(50% - 0.66px);
    left: calc(50% - 12.5px);
}
.main_1 .main_1_visual .center_icon_wrap .plus_btn .line2{
    transform: rotate(90deg);
}
.main_1 .main_1_visual .center_icon_wrap.on{
    width: 100%;
    height: calc(100% - 150px);
}
.main_1 .main_1_visual .center_icon_wrap.on .symbol_wrap{
    transform: translateX(0);
}
.main_1 .main_1_visual .center_icon_wrap.on .symbol_wrap{    
    width: 70dvh;
}
.main_1 .down_txt{
    color: #D0D0D0;
    text-align: center;    
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 2.52px;
    position: absolute;
    bottom: 12dvh;
    width: 100%;
}
@media (max-width: 1280px) {
    .main_1 .main_1_visual .txt_wrap{
        flex-flow: column;
        max-width: 100%;
    }
    .main_1 .main_1_visual .txt_wrap ul{
        margin-bottom: 40px;
    }    
    .main_1 .main_1_visual .txt_wrap li {
        font-size: 15px;
        padding-right: 0px;
        letter-spacing: 1.68px;
    }
    .main_1 .main_1_visual .rt_txt_wrap ul{
        padding-left: 0px;
    }
    .main_1 .main_1_visual .rt_txt_wrap li{
        padding-left: 0px;
    }
    .main_1 .main_1_visual .center_icon_wrap{
        width: 175px;
        height: 75px;
    }
    .main_1 .main_1_visual .center_icon_wrap .symbol_wrap{
        width: 50px;
        transform: translateX(-45px);
    }
    .main_1 .main_1_visual .center_icon_wrap .plus_btn{
        top: 22.5px;
    }
    .main_1 .down_txt{
        font-size: 16px;
    }    
}
@media (max-width: 768px) {
    .main_1 .main_1_visual{
        display: flex;
        flex-flow: column;
    }    
    .main_1 .main_1_visual .center_icon_wrap {
        margin-top: 145px;
        height: 60px;        
        width: calc(100% - 100px);
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_1 .main_1_visual .center_icon_wrap.on {
        height: 100%;
    }
    .main_1 .main_1_visual .center_icon_wrap .symbol_wrap{
        transform: translateX(-90px);
    }
    .main_1 .main_1_visual .center_icon_wrap .plus_btn{
        top: 17.5px;
    }
    .main_1 .main_1_visual .center_icon_wrap.on {
        margin-top: 0;
    }
    .main_1 .main_1_visual .txt_container{
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 300px;
    }
    .main_1 .main_1_visual .txt_wrap{
        flex-flow: row;
        width: 100%;
    }
    .main_1 .main_1_visual .txt_wrap ul {
        width: 50%;
    }
    .main_1 .main_1_visual .txt_wrap li{
        font-size: 12px;
    }
    .main_1 .down_txt{
        bottom: 50px;
    }
    body {
        overflow-x: hidden;
    }
}
.main_2{
    padding: 80px 0;
    overflow: hidden;
    padding-bottom: 120px;
}
.main_2 svg{
    position: absolute;
    top: 0;
    left: 0;
}
.main_2 .content_wrap {
    height: calc(200dvh + 1em);
    font-size: 480px;
    position: relative;
}
.main_2 .animation_roller {    
    position: absolute;
    top: 0;
    z-index: 10;
}
.main_2 .animation_roller.fixed {
    position: fixed;
    top: auto;
    bottom: 0;
}
.main_2 .animation_roller.done {
    position: absolute;
    top: auto;
    bottom: 0;
}

.main_2 .animation_roller .tit_wrap {    
    line-height: 0.63;
    margin-bottom: 50px;
    font-weight: 800;
    display: flex;
    font-family: 'Alumni Sans';
    position: relative;
}

.main_2 .animation_roller .tit_wrap span {
    display: block;
}
.main_2 .animation_roller .img_wrap {
    width: 100%;    
    padding-bottom: 50px;
}
.main_2 .animation_roller .img_wrap .img {
    background-image: url(/img/main/main_2_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200%;
    height: 600px;
    border-radius: 50px;    
}

@media screen and (max-width: 1700px) {
    .main_2 .content_wrap{font-size: 27dvw;}
}
@media screen and (max-width: 768px) {
    .main_2{
        padding: 0px;
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .main_2 .animation_roller .img_wrap{
        padding-bottom: 0px;
    }
    .main_2 .animation_roller .img_wrap .img{
        height: 160px;
        width: calc(100% + 100px);
        margin-left: -50px;
        border-radius: 0px;
    }
    .main_2 .animation_roller .tit_wrap{
        margin-bottom: 20px;
    }
    .main_2 .content_wrap {
        height: auto;
    }
    .main_2 .animation_roller{
        position: relative;
    }    
}
.main_3 {
    padding: 80px 0;
}
.main_3 .txt_wrap {
    margin-bottom: 125px;
} 
.main_3 .txt_wrap .tit {
    text-align: center;
    margin-bottom: 63px;
    color: hsl(0, 0%, 7%);
    -webkit-text-stroke: 1px #F6F6F6; 
    text-stroke: 1px #F6F6F6;
    position: relative;
}
.main_3 .txt_wrap .tit.nagativity_tit {
    color: hsl(0, 0%, 96%);
}
.main_3 .txt_wrap .tit h2{    
    font-size: 480px;
    font-weight: 800;
    font-family: 'Alumni Sans';
    line-height: 0.6;
    display: flex;
    justify-content: center;
}
.main_3 .txt_wrap .tit h2 span{
    display: block;
}
.main_3 .txt_wrap .tit h2 span.space_right{
    margin-right: 0.15em;
}
.main_3 .txt_wrap .tit .progress_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 144px);
    height: 26px;
}
.main_3 .txt_wrap .tit .progress_wrap .progress_bar {
    width: 100%;
    height: 100%;
    border: 1px solid #F6F6F6;
    border-radius: 50px;
    background-color: #111;
}
.main_3 .txt_wrap .tit .progress_wrap .progress_bar .progress_button {
    width: 0;
    height: 0;    
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
}
.main_3 .txt_wrap .tit .progress_wrap .progress_bar .progress_button .progress_shape {
    width: 50px;
    height: 50px;
    border: 1px solid #F6F6F6;
    background-color: #111;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_3 .img_wrap {
    display: flex;
    justify-content: space-between;    
}
.main_3 .img_wrap .img_box {
    border-radius: 50px;
    overflow: hidden;
    isolation: isolate;
    position: relative;
}
.main_3 .img_wrap .img_box img{
    width: 100%;
    display: block;
}
.main_3 .img_wrap .img_box .blue_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001856;
    mix-blend-mode: hue;
    opacity: 0;
    pointer-events: none;
}
.main_3 .img_wrap .img_box:hover .blue_filter {
    opacity: 1;
}
.main_3 .img_wrap .img_lt {
    width: 64.13%;
    height: auto;
}
.main_3 .img_wrap .img_rt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.06%;
}

@media screen and (max-width: 1700px) {
    .main_3 .txt_wrap .tit h2{font-size: 27dvw;}
    .main_3 .txt_wrap .tit .progress_wrap {width: calc(100% + 25px);}
}
@media screen and (max-width: 768px) {
    .main_3 .txt_wrap{
        margin-bottom: 15px;
    }
    .main_3 .txt_wrap .tit{
        margin-bottom: 20px;
        -webkit-text-stroke: 0.5px #F6F6F6; 
        text-stroke: 0.5px #F6F6F6;
    }
    .main_3 .img_wrap .img_box{
        border-radius: 4px;
    }
    .main_3 .txt_wrap .tit .progress_wrap{
        height: 9px;
    }
    .main_3 .txt_wrap .tit .progress_wrap .progress_bar .progress_button .progress_shape{
        width: 15px;
        height: 15px;
    }
}


.main_5 {
   padding: 160px 0 145px; 
   overflow: hidden;
}
.main_5 .info_wrap .info h3 {
    color: #F6F6F6;
    font-family: "Alumni Sans";
    font-size: 480px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    line-height: 0.6;
    position: relative;
    filter: contrast(105%) brightness(98%) saturate(80%);
}
.main_5 .info_wrap .info h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      0deg,
      rgba(255,255,255,.02) 0px,
      transparent 1px,
      rgba(0,0,0,.01) 2px,
      transparent 3px,
      rgba(255,255,255,.01) 4px
    );
    background-size: 1px 1px;
    pointer-events: none;
    opacity: 0.6;
}
.main_5 .info_wrap .info{
    margin-bottom: 95px;
    display: flex;
    align-items: center;
}
.main_5 .info_wrap .info .img_wrap {
    flex-shrink: 0;
}
.main_5 .info_wrap .info .img_wrap img{
    display: block;
    width: 100%;
}
.main_5 .info_wrap .info.info2{
    gap: 135px;    
}
.main_5 .info_wrap .info.info2 .img_wrap {
    max-width : 1100px;
}
.main_5 .info_wrap .info.info3 {
    flex-direction: row-reverse;
    gap: 90px;
    padding-bottom: 200px;
}
.main_5 .info_wrap .info.info3 .img_wrap {
    max-width: 850px;    
}

@media screen and (max-width: 1700px) {
    .main_5 .info_wrap .info h3{font-size: 30dvw;}
}
@media screen and (max-width: 768px) {
    .main_5{
        padding: 55px 0 55px 0;
    }
    .main_5 .info_wrap .info.info3{
        padding-bottom: 0;
    }
    .main_5 .info_wrap .info{
        margin-bottom: 26.5px;
    }
    .main_5 .info_wrap .info.info2 {
        gap: 13px;
    }
    .main_5 .info_wrap .info.info3{
        gap: 13px;
    }
    .main_5 .info_wrap .info.info2 .img_wrap {
        width: 50dvw;
    }
    .main_5 .info_wrap .info.info3 .img_wrap{
        width: 38dvw;
    }
}
.main_6 {
    padding-bottom: 210px;
}
.main_6 .main_6_wrap{
    display: flex;
    align-items: flex-start;
    max-width: 2200px;
}
.main_6 .symbol_wrap{
    padding-left: 165px;
    padding-right: 165px;
}
.main_6 .symbol_wrap svg path{
    fill: #fff;
}
.main_6 .symbol_wrap svg path.path4,
.main_6 .symbol_wrap svg path.path5,
.main_6 .symbol_wrap svg path.path6,
.main_6 .symbol_wrap svg path.path7,
.main_6 .symbol_wrap svg path.path8{
    fill: #ADADAD;
}
.main_6 .txt_list_wrap{    
    flex: 1;    
}
.main_6 .txt_list_wrap .txt_list{
    margin-bottom: 30px;
}
.main_6 .txt_list_wrap .txt_list .top_txt{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
    margin-bottom: 18px;
}
.main_6 .txt_list_wrap .txt_list .top_txt li{    
    font-family: "Alumni Sans";
    font-size: 25px;    
    font-weight: 800;
    line-height: 150%; /* 37.5px */   
    min-width: 295px; 
}

.main_6 .txt_list_wrap .bottom_txt li:not(:last-of-type) {
    margin-bottom: 18px;
}
.main_6 .txt_list_wrap .bottom_txt li {
    margin-left: 80px;
    padding-left: 10px;
    font-family: "Alumni Sans";
    font-size: 25px;    
    font-weight: 500;
    line-height: 150%; /* 37.5px */
    border-bottom: 0.5px solid rgba(246, 246, 246, 0.8);
    transition: 0.2s;
}
.main_6 .txt_list_wrap .bottom_txt li:hover {
    background-color: #F6F6F6;
    color: #111;
}
@media screen and (max-width: 768px) {
    .main_6{
        padding-bottom: 55px;
    }
    .main_6 .main_6_wrap{
        padding: 0 22.5px;
    }
    .main_6 .symbol_wrap {
        display: none;
    }
    .main_6 .txt_list_wrap .txt_list .top_txt li{
        font-size: 14px;
        min-width: 0;
        width: 39%;
    }
    .main_6 .txt_list_wrap .txt_list .top_txt li:last-of-type{
        width: 22%;
    }
    .main_6 .txt_list_wrap .bottom_txt li{
        margin-left: 20px;
        font-size: 12px;
    }
    
}
.main_8 {
    height: 200dvh;
    display: flex;    
}
.main_8 .w1600{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100dvh;
    position: sticky;
    top: 0;
}
.main_8 .img_wrap {
    width: 100dvw;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.main_8 .img_wrap .img{
    background-image: url(/img/main/main_8_img1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_8 .img_wrap .symbol_img{
    width: 100%;
    height: 100%;
    background: url(/img/main/main_8_symbol.png) no-repeat center center;
    background-size: cover;
    opacity: 0; 
    transition: 0.45s cubic-bezier(0.34, 1.2, 0.64, 1.1);   
}
.main_8.finish .img_wrap:hover .symbol_img{
    opacity: 1;
}

.main_8 .txt_wrap {
    width: 50%;
    text-align: right;
}
.main_8 .txt_wrap h5 {
    color: #FFF;    
    font-size: 30px;    
    font-weight: 500;
    line-height: 150%; /* 45px */
    letter-spacing: 2.1px;
}
.main_8 .txt_wrap h2 {
    color: #F6F6F6;    
    font-family: "Alumni Sans";
    font-size: 250px;    
    font-weight: 800;
    line-height: 150%; /* 375px */    
}
.main_8 .txt_wrap ul{
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
}
.main_8 .txt_wrap ul li {
    color: #FFF;    
    font-size: 30px;    
    font-weight: 300;
    line-height: 150%; /* 45px */
    letter-spacing: 4.2px;
    width: max-content;    
    margin-bottom: 8px;
}
.main_8 .txt_wrap ul li::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}
@media screen and (max-width: 1200px) {
    .main_8 .txt_wrap h2{font-size: 180px;}
    .main_8 .txt_wrap h5{font-size: 20px;}
    .main_8 .txt_wrap ul li{font-size: 20px;}
}
@media screen and (max-width: 768px) {
    .main_8 {
        height: 100dvh;
    }
    .main_8 .txt_wrap{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 55px;
    }
    .main_8 .txt_wrap .tit{
        text-align: left;
    }
    .main_8 .txt_wrap h5 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .main_8 .txt_wrap h2 {
        font-size: 77px;
        line-height: 0.7;
    }
    .main_8 .txt_wrap ul li {
        font-size: 14px;
    }
}
/* 메인 상품 슬라이드 단락 */
.product_slide_section {
    background-color: #F6F6F6;
    padding: 170px 0 100px 0;
    overflow: hidden;
}
.product_slide_section .top_tit {
    display: flex;
    align-items: center;    
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
}
.product_slide_section .top_tit .date_txt {
    color: #111;    
    letter-spacing: 1.5px;
    margin-right: 14px;
}
.product_slide_section .top_tit .tit_txt {
    color: #F6F6F6;    
    letter-spacing: 4.2px;
    background-color: #111;
    padding: 0 20px;
}
.product_slide_section .swiper {
    overflow: initial;
    position: relative;
}
.product_slide_section .swiper img{
    display: block;
    width: 100%;
}
.product_slide_section .swiper .hover_shape {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
.product_slide_section .more_btn_wrap {
    display: flex;
    justify-content: flex-end;
}
.product_slide_section .more_btn_wrap a{
    color: #F6F6F6;    
    font-size: 30px;    
    font-weight: 700;
    line-height: 150%; /* 45px */
    letter-spacing: 4.2px;
    background-color: #111;    
    display: block;
    padding: 0 20px;
}
.product_slide_section .product_modal_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    z-index: 5;    

    border: 2px solid #111;
    border-radius: 20px;
    overflow: hidden;
    isolation: isolate;
    background-color: #fff;
    width: 590px;    

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* transition: all 0.3s ease-out;         */
}
.product_slide_section .product_modal_wrap.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.product_slide_section .product_modal_wrap .img {
    height: 395px;
    overflow: hidden;
    position: relative;
}
.product_slide_section .product_modal_wrap .img img{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product_slide_section .product_modal_wrap .txt_wrap h3{    
    padding: 17px 20px;    
    color: #111;    
    font-size: 24px;
    font-weight: 500;
    line-height: 150%; /* 45.585px */
    letter-spacing: 4.255px;
}
.product_slide_section .product_modal_wrap .bottom_txt {
    display: flex;
    color: rgba(17, 17, 17, 0.60);    
    line-height: 150%; /* 30px */
    font-weight: 400;    
    border-top: 1px solid rgba(17, 17, 17, 0.60);    
}
.product_slide_section .product_modal_wrap .bottom_txt span{
    display: block;
    padding: 17px 40px;        
    border-right: 1px solid rgba(17, 17, 17, 0.60);
    font-size: 17px;            
    letter-spacing: 2.8px;
}
.product_slide_section .product_modal_wrap .bottom_txt a{    
    font-family: "Archivo Condensed";
    font-size: 16px;
    font-style: normal;    
    letter-spacing: 4.159px;
    display: block;
    padding: 10px 40px;    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 768px) {
    .product_slide_section{
        padding: 50px 0 55px 0 ;
        position: relative;
    }
    .product_slide_section .top_tit{
        font-size: 14px;
    }
    .product_slide_section .top_tit .date_txt{
        margin-right: 5px;
    }
    .product_slide_section .top_tit .tit_txt{
        padding: 0px 0.4em;
    }
    .product_slide_section .slide_wrap{
        width: calc(100% - 50px);
        margin: 0 auto;
    }
    .product_slide_section .more_btn_wrap a{
        font-size: 14px;
    }
    .product_slide_section .product_modal_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: calc(100% - 50px);
    }
    .product_slide_section .product_modal_wrap .img{
        height: 53vw;
    }
    .product_slide_section .product_modal_wrap .txt_wrap h3{
        font-size: 15px;
    }
    .product_slide_section .product_modal_wrap .bottom_txt span{
        font-size: 12px;
        letter-spacing: 0.1em;
        padding: 10px 20px;
    }
    .product_slide_section .product_modal_wrap .bottom_txt a{
        font-size: 12px;
        letter-spacing: 0.1em;
        padding: 10px 20px;
    }
}